@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-wrapper{
  position: relative;
  padding-bottom: 100%;
  border-radius: 8px;
  background-color: transparent;
}

.img-contain{
  object-fit: contain;
  width:100%;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  height:100%;
}

.flex-grow{
  flex: 1 1 0px;
}

.nav-item{
  text-decoration: none;
}

.nav-item:hover{
  text-decoration: underline;
}

.nav-item.selected{
  text-decoration: underline;
}

.popover{
  pointer-events: none;
}

.popover-content{
  pointer-events: auto;
}